@charset "UTF-8";
@font-face {
    font-family: 'fonteteste';
    src: url('/fontes/dauphin-normal.ttf') format('TrueType');
}

h1{
    text-align: center;
    font-family: 'fonteteste';
}

h2{
    text-align: center;
    font-family: 'fonteteste;';
    
}

p#cab{
    text-align: center;
}

p{
    text-align: inherit;
}

div{
    text-align: justify;
    display: inline-block;
    width: 400px;
    padding: 10px 40px;
    position: relative;
}
body{
    width: auto;
}